<h1>Enter a new comedian:</h1>
<form class="new-comedian" action="/comedians" method="POST">
  <label>Name</label>
  <input type="text" name="comedian[name]" value="Name">
  <label>Age</label>
  <input type="text" name="comedian[age]" value="Age">
  <label>City</label>
  <input type="text" name="comedian[city]" value="City">
  <input type="submit" value="Submit">
</form>
