<header id="greeting">
  <h1>Laugh Tracks</h1>
  <h6><a href="/comedians">Home</a></h6>
</header>

<h1>Enter a new comedian:</h1>
<form class="new-comedian" action="/comedians" method="POST">
  <label>Name:</label>
  <input type="text" name="comedian[name]" value="Sally"><br>
  <label>Date of Birth:</label>
  <input type="text" name="comedian[dob]" value="1900-01-01"><br>
  <label>City:</label>
  <input type="text" name="comedian[city]" value="Des Moines"><br>
  <input type="submit" value="Submit">
</form>
